.nant-profile-menu{
    >li{
        position: relative;
        cursor: pointer;
        padding-left: 15px;
        padding-top: 5px;
        font-weight: 600;
        &:hover{
            .nant-sub-menu{
             top: 100%;
             opacity: 1;
             height: auto;
             visibility: visible;
             overflow: visible;   
            }
        }
    }
    .nant-sub-menu{
        position: absolute;
        width: 200px;
        right: 0;
        top: 110%;
        opacity: 0;
        height: 0;
        visibility: hidden;
        z-index: 2;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 0 3px 3px rgba(233, 233, 233, 0.63);
        transition: all 0.5s linear;
        padding-bottom: 10px;
        a{
            display: block;
            width: 100%;
            padding: 10px 15px 0;

        }
       
    }
}