header.nant-header .nant-header-topbar ul li.nant-profile-menu li,
header.nant-header .nant-header-topbar ul li.nant-profile-menu li a{
    margin-left: 0;
    display: block;
}
.nant-profile-menu{
    position: relative;
    >span{
        position: relative;
        cursor: pointer;
        background-color: #efc94c;
        padding: 18px 39px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin-left: 42px;
        display: inline-block;
        
    }
    &:hover{
        .nant-sub-menu{
         top: 100%;
         opacity: 1;
         height: auto;
         visibility: visible;
         overflow: visible;   
        }
    }
    .nant-sub-menu{
        position: absolute;
        width: 180px;
        right: 0;
        top: 110%;
        opacity: 0;
        height: 0;
        visibility: hidden;
        z-index: 2;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 0 3px 3px rgba(233, 233, 233, 0.63);
        transition: all 0.5s linear;
        padding: 10px 0;
       
        a{
            display: block;
            width: 100%;
            padding: 10px 15px;
            &:hover{
                color:  $secondary;
            }

        }
       
    }
}