.nant-residential-details{
    label,
    input,
    .MuiFormControl-root{
        font-family: inherit;
    }
    .MuiFormControl-root{
        width: 100%;
        margin-top: 15px;
    }
    input{
        display: inline-block;
        width: 100%;
    }
}