
.pr-0{
    padding-right: 0;
}

@media (min-width: 992px){
    .pl-lg-0, .px-lg-0 {
        padding-left: 0!important;
    }
}
header.header-box-style.header-1.nant-header{
  .logo{
    padding: 15px;
    background-color: transparent;
    @include media(xs){
      padding: 30px;
    }
    img{
      @include transition();
    }
    &:hover{
      img{
        @include transform(scale(0.9));
      }
    }
  }
  .top-bar{
    .d-btn{
      padding: 0 40px;
      height: 50px;
      line-height: 50px;
      background-color:  $secondary;
      color: #fff;
      &:hover{
        background-color: $primary;
  
      }
    }
  } 
  .box-wrap{
    background: transparent;
    .menu-wrap{
      // border-top: 1px solid #f1f1f1;
      background-color: rgba(241,241,241,0.34);
    }
    .main-menu{
      ul{
        >li{
          >a{
            &::before{
              background-color: $primary;
            }
          }
          >ul{
            background-color: $secondary;
            a{
              color: #fff;
              @include transition();
              &:hover{
                color: $secondary;
              }
            }
          }
        }
      }
    }
  }
   
} 


header{
    &.nant-homepage-header{
      &.nant-header{
        .nant-header-wrapper{
          background-color: rgba(255,255,255,0.8);
        }
      }
    }
    &.nant-header{
      position: relative;
      padding-bottom: 30px;
      @include media(xs){
        position: absolute;
        padding-bottom: 0;
      }
      .nant-header-wrapper{
        background-color: #fafafa;
      }
      .mobile-topbar{
        .nant-header-topbar{
          background-color: transparent;
          .nant-phone,
          .nant-envelope{
            display: none;
          }
          
        }
       
      }
      .nant-header-topbar{
        >ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          @include media(xs){
            justify-content: flex-end;
          }
        }
        ul{
          li{
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            color: #727475;
            margin-left: 30px;
            display: inline-block;
            &:last-child{
              margin-left: 42px;
            }
            @include media(sm){
              margin-left: 42px;
            }
            a{
              margin-left: 0;
            }
            i{
              margin-right: 7px;
            }
            &:first-child {
              i {
                  color: #00baa3;
              }
            }
            &:nth-child(2) {
                i {
                    color: #d55342;
                }
            }
          }
        }
        .nav-cart{
          position: relative;
          &:hover{
            .icon{
              color: $primary;
            }
            .counter{
              background-color: $primary;
            }
            
          }
          span{
              display: inline-block;
          }
          .icon{
              color: $secondary;
              position: relative;
              top: 2px;
              svg{
                font-size: 25px;
              }
          }
          .counter{
              padding: 4px 10px;
              background-color: $secondary;
              color: #fff;
              position: absolute;
              right: -28px;
              top: -11px;
              font-size: 90%;
          }
        }
      }
      .mobile-menu-section{
        #hamburger{
          color: $secondary;
        }
      }
    }
}


.mobile-menu-section{
  .mobile-nav{
    background-color: $secondary;
  }
}
