.nant-loader{
    // text-align: center;
    // padding: 45px;
}
.nant-pos-relative{
    position: relative;
}
.nant-section-padding{
    padding: 60px 0;
}
.nant-section-bg{
    background-color: rgba(246,249,252,1);
}
.featured-img{
    background-color: #e1e1e1;
}