
.nant-pos-relative{
    position: relative;
}
.nant-section-padding{
    padding: 60px 0;
}
.nant-section-bg{
    background-color: rgba(246,249,252,1);
}
.featured-img{
    background-color: #e1e1e1;
}
.line-limit-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    //line-clamp: 2;
    //-webkit-line-clamp: 2;
}
.line-limit-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    //line-clamp: 3;
    //-webkit-line-clamp: 3;
}
.nant-main-section-title{
    .nant-title-green{
        color: #00baa3;
    }
    .nant-title-redish{
        color: #d55342;
    }
    h2{
        font-size: 3.75rem;
        line-height: 4.375rem;
        letter-spacing: -3px
    }
}
.text-right{
    text-align: right;
}
.section-padding {
   padding: 120px 0;
   @media (max-width: 991px) {
       padding: 100px 0px;
   }

   @media (max-width: 767px) {
       padding: 80px 0px;
   }
}
.nant-main-section-padding{
    padding: 30px 0 60px;
    @include media(xs){
        padding: 180px 0 90px;
    }
    @include media(sm){
        padding-top: 250px;
    }
    @include media(md){
        padding-top: 180px;
    }
}
.mr-3{
   margin-right: 1rem;
}
.section-bg {
   background-color: $section-bg;
}
.section-title{
   .icon{
       display: inline-block;
       margin-right: 10px;
   }
}